USE [master]
GO
/****** Object:  Database [TestDB]    Script Date: 2017/11/6 18:29:20 ******/
CREATE DATABASE [TestDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TestDB', FILENAME = N'E:\yang.liao\DB\TestDB.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TestDB_log', FILENAME = N'E:\yang.liao\DB\TestDB_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TestDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TestDB]
GO
/****** Object:  UserDefinedFunction [dbo].[f_GetCSharpDataTypeBySqlUserType]    Script Date: 2017/11/6 18:29:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[f_GetCSharpDataTypeBySqlUserType] (@userType VARCHAR(5),@maxLength INT)  
RETURNS VARCHAR(50) AS
BEGIN
	DECLARE @columnType NVARCHAR(30)
	IF(@userType IN ('175','231','239'))
	BEGIN
		SET @columnType='nvarchar('+CAST(@maxLength/2 AS VARCHAR(5))+')'
	END
	ELSE IF(@userType IN ('56'))
	BEGIN
		SET @columnType='int'
	END
	ELSE IF(@userType IN ('61'))
	BEGIN
		SET @columnType='DateTime'
	END
	ELSE IF(@userType IN ('106'))
	BEGIN
		SET @columnType='money'
	END
	ELSE IF(@userType IN ('104'))
	BEGIN
		SET @columnType='bit'
	END
	ELSE IF(@userType IN ('167'))
	BEGIN
		SET @columnType='varchar('+CAST(@maxLength AS VARCHAR(5))+')'
	END
RETURN @columnType
END





GO
/****** Object:  Table [dbo].[Article]    Script Date: 2017/11/6 18:29:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Article](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AuthorName] [nvarchar](30) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[ContentSourceUrl] [varchar](200) NOT NULL,
	[MediaId] [varchar](128) NOT NULL,
	[ArticleContent] [nvarchar](4000) NOT NULL,
	[Intro] [nvarchar](128) NOT NULL,
	[ShowCover] [int] NOT NULL,
	[CreateTime] [datetime] NOT NULL,
	[CreateUserAccount] [varchar](30) NOT NULL,
	[Statu] [int] NOT NULL,
 CONSTRAINT [PK_Article] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GloblaToken]    Script Date: 2017/11/6 18:29:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GloblaToken](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Token] [varchar](512) NULL,
	[AppId] [varchar](128) NULL,
	[ExpireTime] [datetime] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Material]    Script Date: 2017/11/6 18:29:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Material](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MaterialName] [nvarchar](50) NOT NULL,
	[MaterialType] [varchar](50) NOT NULL,
	[Media_id] [varchar](50) NOT NULL,
	[Url] [varchar](200) NOT NULL,
	[CreateTime] [datetime] NOT NULL,
	[CreateUserAccount] [varchar](30) NOT NULL,
	[Intro] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_Material] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Menu]    Script Date: 2017/11/6 18:29:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Menu](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ParentId] [int] NULL,
	[Name] [nvarchar](14) NULL,
	[Type] [varchar](30) NULL,
	[Value] [nvarchar](200) NULL,
	[CreateTime] [datetime] NULL,
	[LevelCode] [varchar](50) NULL,
	[Status] [int] NULL,
 CONSTRAINT [PK_MENU] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MenuType]    Script Date: 2017/11/6 18:29:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MenuType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Type] [varchar](30) NULL,
	[Intro] [nvarchar](30) NULL,
 CONSTRAINT [PK_MENUTYPE] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SystemUser]    Script Date: 2017/11/6 18:29:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SystemUser](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AppId] [varchar](128) NULL,
	[Account] [varchar](30) NULL,
	[Password] [varchar](32) NULL,
	[CreateTime] [datetime] NULL,
	[CreateUserName] [nvarchar](30) NULL,
	[AccountState] [int] NULL,
 CONSTRAINT [PK_SYSTEMUSER] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[User]    Script Date: 2017/11/6 18:29:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OpenID] [varchar](128) NULL,
	[NickName] [nvarchar](50) NULL,
	[HeadImg] [varchar](200) NULL,
	[Sex] [int] NULL,
	[Country] [nvarchar](50) NULL,
	[Province] [nvarchar](50) NULL,
	[City] [nvarchar](50) NULL,
	[Language] [nvarchar](50) NULL,
	[Subscribe_Time] [datetime] NULL,
	[Unionid] [varchar](128) NULL,
	[IsSubscribe] [bit] NULL,
	[UnSubscribe_Time] [datetime] NULL,
 CONSTRAINT [PK_USER] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UserMessage]    Script Date: 2017/11/6 18:29:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UserMessage](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MessageType] [varchar](50) NOT NULL,
	[OpenID] [varchar](512) NOT NULL,
	[XmlContent] [nvarchar](1000) NOT NULL,
	[MsgId] [varchar](20) NOT NULL,
	[CreateTime] [datetime] NOT NULL,
	[ContentValue] [nvarchar](500) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Article] ON 

INSERT [dbo].[Article] ([Id], [AuthorName], [Title], [ContentSourceUrl], [MediaId], [ArticleContent], [Intro], [ShowCover], [CreateTime], [CreateUserAccount], [Statu]) VALUES (2, N'阿斯蒂芬', N'服务费', N'阿斯蒂芬', N'', N'<p><img src="http://mmbiz.qpic.cn/mmbiz_jpg/ft7xJuI6BHp9gutic5RiaUoYGrJc7yFPqUhZJLQ08y0WXnvvM5gCZ2nwjicro1bV9pcoljddDHIkrpoWC9fUyoYcg/0" title="0c699f6c-84b2-4e_680x700x1.jpg" alt="0c699f6c-84b2-4e_680x700x1.jpg"/></p>', N'阿斯蒂芬', 0, CAST(N'2017-11-02 15:20:19.850' AS DateTime), N'admin', 0)
SET IDENTITY_INSERT [dbo].[Article] OFF
SET IDENTITY_INSERT [dbo].[GloblaToken] ON 

INSERT [dbo].[GloblaToken] ([Id], [Token], [AppId], [ExpireTime]) VALUES (1, N'cI8Hm77eWbf_Ng8ErtlHvp9AZfAHxILTXul75nHJmjhwWwD8xatMaIP05228Pe8ZNRqw81J5xTfmRtvCai01k1ctvQkbLuGrGTP8H_NcDp0WGZdADAEOH', N'wx25491e8ba573f372', CAST(N'2017-11-02 17:11:09.070' AS DateTime))
SET IDENTITY_INSERT [dbo].[GloblaToken] OFF
SET IDENTITY_INSERT [dbo].[Menu] ON 

INSERT [dbo].[Menu] ([Id], [ParentId], [Name], [Type], [Value], [CreateTime], [LevelCode], [Status]) VALUES (1, 0, N'菜单根节点', N'', N'', CAST(N'2017-10-18 17:57:03.067' AS DateTime), N'100', 0)
INSERT [dbo].[Menu] ([Id], [ParentId], [Name], [Type], [Value], [CreateTime], [LevelCode], [Status]) VALUES (5, 2, N'书籍推荐1', N'click', N'', CAST(N'2017-10-18 18:00:20.127' AS DateTime), N'100100100', 0)
INSERT [dbo].[Menu] ([Id], [ParentId], [Name], [Type], [Value], [CreateTime], [LevelCode], [Status]) VALUES (7, 2, N'智能推荐3', N'view', N'', CAST(N'2017-10-18 18:14:52.793' AS DateTime), N'100100101', 0)
SET IDENTITY_INSERT [dbo].[Menu] OFF
SET IDENTITY_INSERT [dbo].[MenuType] ON 

INSERT [dbo].[MenuType] ([Id], [Type], [Intro]) VALUES (1, N'click', N'key值触发')
INSERT [dbo].[MenuType] ([Id], [Type], [Intro]) VALUES (2, N'view', N'Url跳转')
INSERT [dbo].[MenuType] ([Id], [Type], [Intro]) VALUES (3, N'scancode_push', N'扫码推事件')
SET IDENTITY_INSERT [dbo].[MenuType] OFF
SET IDENTITY_INSERT [dbo].[SystemUser] ON 

INSERT [dbo].[SystemUser] ([Id], [AppId], [Account], [Password], [CreateTime], [CreateUserName], [AccountState]) VALUES (1, N'wx25491e8ba573f372', N'admin', N'21232f297a57a5a743894a0e4a801fc3', CAST(N'2017-09-11 16:23:55.270' AS DateTime), N'廖扬', 0)
SET IDENTITY_INSERT [dbo].[SystemUser] OFF
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([Id], [OpenID], [NickName], [HeadImg], [Sex], [Country], [Province], [City], [Language], [Subscribe_Time], [Unionid], [IsSubscribe], [UnSubscribe_Time]) VALUES (1, N'o0YXKt_EJTmDd7Xx3cxZGyGAU5hI', N'廖杨', N'http://wx.qlogo.cn/mmopen/DFKkehW3jyUomq6JvYwnZpncicWUe9ClXmIrdIVg4CmDTIWjc4yI8zHqyLV6NfX3nxgXuwpPnN7B9dqZMFwLiacIUKOlwWFGQG/0', 1, N'中国', N'广东', N'深圳', N'zh_CN', CAST(N'2017-10-22 18:01:06.430' AS DateTime), NULL, 1, NULL)
INSERT [dbo].[User] ([Id], [OpenID], [NickName], [HeadImg], [Sex], [Country], [Province], [City], [Language], [Subscribe_Time], [Unionid], [IsSubscribe], [UnSubscribe_Time]) VALUES (2, N'o0YXKt3ytNwYdITXdqGph6JWEzUU', N'木lln', N'http://wx.qlogo.cn/mmopen/c0lrayotc7sRso6oOtJwUyID5Iiczy15gNm5dQMOfj3LGF4ZndzIJlDr6wpeTR05jBvh6bFyVBCiamXWCa53Q3l3QoMaG5YofW/0', 2, N'中国', N'广东', N'广州', NULL, CAST(N'2017-10-22 17:59:42.080' AS DateTime), NULL, 1, NULL)
SET IDENTITY_INSERT [dbo].[User] OFF
SET IDENTITY_INSERT [dbo].[UserMessage] ON 

INSERT [dbo].[UserMessage] ([Id], [MessageType], [OpenID], [XmlContent], [MsgId], [CreateTime], [ContentValue]) VALUES (1, N'text', N'o0YXKt_EJTmDd7Xx3cxZGyGAU5hI', N'<xml><ToUserName><![CDATA[gh_b26d4dbcc910]]></ToUserName>
<FromUserName><![CDATA[o0YXKt_EJTmDd7Xx3cxZGyGAU5hI]]></FromUserName>
<CreateTime>1508660051</CreateTime>
<MsgType><![CDATA[text]]></MsgType>
<Content><![CDATA[就很好]]></Content>
<MsgId>6479645580270184041</MsgId>
</xml>', N'6479645580270184041', CAST(N'2017-10-22 16:14:20.853' AS DateTime), N'就很好')
INSERT [dbo].[UserMessage] ([Id], [MessageType], [OpenID], [XmlContent], [MsgId], [CreateTime], [ContentValue]) VALUES (2, N'text', N'o0YXKt_EJTmDd7Xx3cxZGyGAU5hI', N'<xml><ToUserName><![CDATA[gh_b26d4dbcc910]]></ToUserName>
<FromUserName><![CDATA[o0YXKt_EJTmDd7Xx3cxZGyGAU5hI]]></FromUserName>
<CreateTime>1508660051</CreateTime>
<MsgType><![CDATA[text]]></MsgType>
<Content><![CDATA[就很好]]></Content>
<MsgId>6479645580270184041</MsgId>
</xml>', N'6479645580270184041', CAST(N'2017-10-22 16:14:20.853' AS DateTime), N'就很好')
SET IDENTITY_INSERT [dbo].[UserMessage] OFF
/****** Object:  StoredProcedure [dbo].[Proc_Article_DeleteById]    Script Date: 2017/11/6 18:29:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****删除*****
*****CreateUser:yang.liao*****
*****CreateTime:10 26 2017  5:14PM*****/
create proc [dbo].[Proc_Article_DeleteById]
@Id int
AS
delete from [Article] where Id=@Id




GO
/****** Object:  StoredProcedure [dbo].[Proc_Article_Insert]    Script Date: 2017/11/6 18:29:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****插入*****
*****CreateUser:yang.liao*****
*****CreateTime:10 26 2017  5:14PM*****/
CREATE proc [dbo].[Proc_Article_Insert]
@Id int output,
@AuthorName nvarchar(30),
@Title nvarchar(50),
@ContentSourceUrl varchar(200),
@MediaId VARCHAR(128),
@ArticleContent nvarchar(4000),
@Intro nvarchar(128),
@ShowCover int,
@CreateTime DateTime,
@CreateUserAccount varchar(30),
@Statu int
AS
insert into [Article](
AuthorName,
Title,
ContentSourceUrl,
MediaId,
ArticleContent,
Intro,
ShowCover,
CreateTime,
CreateUserAccount,
Statu
)
values(
@AuthorName,
@Title,
@ContentSourceUrl,
@MediaId,
@ArticleContent,
@Intro,
@ShowCover,
@CreateTime,
@CreateUserAccount,
@Statu
)
SET @Id=@@IDENTITY




GO
/****** Object:  StoredProcedure [dbo].[Proc_Article_SelectById]    Script Date: 2017/11/6 18:29:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****查询*****
*****CreateUser:yang.liao*****
*****CreateTime:10 26 2017  5:14PM*****/
create proc [dbo].[Proc_Article_SelectById]
@Id int
AS
select * FROM [Article] WHERE Id=@Id




GO
/****** Object:  StoredProcedure [dbo].[Proc_Article_SelectList]    Script Date: 2017/11/6 18:29:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****查询*****
*****CreateUser:yang.liao*****
*****CreateTime:10 26 2017  5:14PM*****/
CREATE proc [dbo].[Proc_Article_SelectList]
@whereStr nvarchar(1000)
AS
DECLARE @sql NVARCHAR(2000)
SET @sql=N'SELECT * FROM [Article] '+ @whereStr
EXEC sp_executesql @sql




GO
/****** Object:  StoredProcedure [dbo].[Proc_Article_SelectPage]    Script Date: 2017/11/6 18:29:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****查询*****
*****CreateUser:yang.liao*****
*****CreateTime:10 26 2017  5:14PM*****/
create proc [dbo].[Proc_Article_SelectPage]
@rowCount INT OUTPUT,
@cloumns VARCHAR(200),
@pageIndex INT,
@pageSize INT,
@orderBy VARCHAR(20),
@where VARCHAR(300)
AS
exec Proc_SelectPageBase @rowCount output,@cloumns,'Id','Article',@pageIndex,@pageSize,@orderBy,@where

GO
/****** Object:  StoredProcedure [dbo].[Proc_Article_UpdateById]    Script Date: 2017/11/6 18:29:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****修改*****
*****CreateUser:yang.liao*****
*****CreateTime:10 26 2017  5:14PM*****/
CREATE proc [dbo].[Proc_Article_UpdateById]
@Id int,
@AuthorName nvarchar(30),
@Title nvarchar(50),
@ContentSourceUrl varchar(200),
@MediaId VARCHAR(128),
@ArticleContent nvarchar(4000),
@Intro nvarchar(128),
@ShowCover int,
@CreateTime DateTime,
@CreateUserAccount varchar(30),
@Statu int
AS
update [Article] SET 
AuthorName=@AuthorName,
Title=@Title,
ContentSourceUrl=@ContentSourceUrl,
MediaId=@MediaId,
ArticleContent=@ArticleContent,
Intro=@Intro,
ShowCover=@ShowCover,
CreateTime=@CreateTime,
CreateUserAccount=@CreateUserAccount,
Statu=@Statu
 where Id=@Id




GO
/****** Object:  StoredProcedure [dbo].[Proc_GloblaToken_DeleteById]    Script Date: 2017/11/6 18:29:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****删除*****
*****CreateUser:liaoyang*****
*****CreateTime:09  8 2017  5:43PM*****/
create proc [dbo].[Proc_GloblaToken_DeleteById]
@Id int
AS
delete from [GloblaToken] where Id=@Id






GO
/****** Object:  StoredProcedure [dbo].[Proc_GloblaToken_Insert]    Script Date: 2017/11/6 18:29:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****插入*****
*****CreateUser:liaoyang*****
*****CreateTime:09  8 2017  5:43PM*****/
create proc [dbo].[Proc_GloblaToken_Insert]
@Id int output,
@Token varchar(512),
@AppId varchar(128),
@ExpireTime DateTime
AS
insert into [GloblaToken](
Token,
AppId,
ExpireTime
)
values(
@Token,
@AppId,
@ExpireTime
)
SET @Id=@@IDENTITY






GO
/****** Object:  StoredProcedure [dbo].[Proc_GloblaToken_SelectById]    Script Date: 2017/11/6 18:29:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****查询*****
*****CreateUser:liaoyang*****
*****CreateTime:09  8 2017  5:43PM*****/
create proc [dbo].[Proc_GloblaToken_SelectById]
@Id int
AS
select * FROM [GloblaToken] WHERE Id=@Id






GO
/****** Object:  StoredProcedure [dbo].[Proc_GloblaToken_SelectList]    Script Date: 2017/11/6 18:29:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****查询*****
*****CreateUser:yang.liao*****
*****CreateTime:09 11 2017  3:47PM*****/
CREATE proc [dbo].[Proc_GloblaToken_SelectList]
@whereStr nvarchar(1000)
AS
DECLARE @sql NVARCHAR(2000)
SET @sql=N'SELECT * FROM [GloblaToken] '+ @whereStr
EXEC sp_executesql @sql






GO
/****** Object:  StoredProcedure [dbo].[Proc_GloblaToken_SelectPage]    Script Date: 2017/11/6 18:29:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****查询*****
*****CreateUser:liaoyang*****
*****CreateTime:09  8 2017  5:43PM*****/
create proc [dbo].[Proc_GloblaToken_SelectPage]
@rowCount INT OUTPUT,
@cloumns VARCHAR(200),
@pageIndex INT,
@pageSize INT,
@orderBy VARCHAR(20),
@where VARCHAR(300)
AS
exec Proc_SelectPageBase @rowCount output,@cloumns,'Id','GloblaToken',@pageIndex,@pageSize,@orderBy,@where



GO
/****** Object:  StoredProcedure [dbo].[Proc_GloblaToken_UpdateById]    Script Date: 2017/11/6 18:29:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****修改*****
*****CreateUser:liaoyang*****
*****CreateTime:09  8 2017  5:43PM*****/
create proc [dbo].[Proc_GloblaToken_UpdateById]
@Id int,
@Token varchar(512),
@AppId varchar(128),
@ExpireTime DateTime
AS
update [GloblaToken] SET 
Token=@Token,
AppId=@AppId,
ExpireTime=@ExpireTime
 where Id=@Id






GO
/****** Object:  StoredProcedure [dbo].[Proc_Material_DeleteById]    Script Date: 2017/11/6 18:29:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****删除*****
*****CreateUser:yang.liao*****
*****CreateTime:10 26 2017  5:15PM*****/
create proc [dbo].[Proc_Material_DeleteById]
@Id int
AS
delete from [Material] where Id=@Id




GO
/****** Object:  StoredProcedure [dbo].[Proc_Material_Insert]    Script Date: 2017/11/6 18:29:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Proc_Material_Insert]
@Id int output,
@MaterialName nvarchar(50),
@MaterialType varchar(50),
@Media_id varchar(50),
@Url varchar(200),
@CreateTime DateTime,
@CreateUserAccount varchar(30),
@Intro nvarchar(200)
AS
insert into [Material](
MaterialName,
MaterialType,
Media_id,
Url,
CreateTime,
CreateUserAccount,
Intro
)
values(
@MaterialName,
@MaterialType,
@Media_id,
@Url,
@CreateTime,
@CreateUserAccount,
@Intro
)
SET @Id=@@IDENTITY
GO
/****** Object:  StoredProcedure [dbo].[Proc_Material_SelectById]    Script Date: 2017/11/6 18:29:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****查询*****
*****CreateUser:yang.liao*****
*****CreateTime:10 26 2017  5:15PM*****/
create proc [dbo].[Proc_Material_SelectById]
@Id int
AS
select * FROM [Material] WHERE Id=@Id




GO
/****** Object:  StoredProcedure [dbo].[Proc_Material_SelectList]    Script Date: 2017/11/6 18:29:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****查询*****
*****CreateUser:yang.liao*****
*****CreateTime:10 26 2017  5:15PM*****/
CREATE proc [dbo].[Proc_Material_SelectList]
@whereStr nvarchar(1000)
AS
DECLARE @sql NVARCHAR(2000)
SET @sql=N'SELECT * FROM [Material] WHERE '+ @whereStr
EXEC sp_executesql @sql




GO
/****** Object:  StoredProcedure [dbo].[Proc_Material_SelectPage]    Script Date: 2017/11/6 18:29:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****查询*****
*****CreateUser:yang.liao*****
*****CreateTime:10 26 2017  5:15PM*****/
create proc [dbo].[Proc_Material_SelectPage]
@rowCount INT OUTPUT,
@cloumns VARCHAR(200),
@pageIndex INT,
@pageSize INT,
@orderBy VARCHAR(20),
@where VARCHAR(300)
AS
exec Proc_SelectPageBase @rowCount output,@cloumns,'Id','Material',@pageIndex,@pageSize,@orderBy,@where

GO
/****** Object:  StoredProcedure [dbo].[Proc_Material_UpdateById]    Script Date: 2017/11/6 18:29:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Proc_Material_UpdateById]
@Id int,
@MaterialName nvarchar(50),
@MaterialType varchar(50),
@Media_id varchar(50),
@Url varchar(200),
@CreateTime DateTime,
@CreateUserAccount varchar(30),
@Intro nvarchar(200)
AS
update [Material] SET 
MaterialName=@MaterialName,
MaterialType=@MaterialType,
Media_id=@Media_id,
Url=@Url,
CreateTime=@CreateTime,
CreateUserAccount=@CreateUserAccount,
Intro=@Intro
 where Id=@Id
GO
/****** Object:  StoredProcedure [dbo].[Proc_Menu_DeleteById]    Script Date: 2017/11/6 18:29:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****删除*****
*****CreateUser:liaoyang*****
*****CreateTime:09  8 2017  5:44PM*****/
create proc [dbo].[Proc_Menu_DeleteById]
@Id int
AS
delete from [Menu] where Id=@Id






GO
/****** Object:  StoredProcedure [dbo].[Proc_Menu_DeleteByParentId]    Script Date: 2017/11/6 18:29:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Proc_Menu_DeleteByParentId]
@ParentId INT,
@Id INT
as
DELETE dbo.Menu WHERE Id=@Id OR ParentId=@ParentId


GO
/****** Object:  StoredProcedure [dbo].[Proc_Menu_Insert]    Script Date: 2017/11/6 18:29:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****插入*****
*****CreateUser:liaoyang*****
*****CreateTime:09  8 2017  5:44PM*****/
CREATE proc [dbo].[Proc_Menu_Insert]
@Id int output,
@ParentId int,
@Name nvarchar(14),
@Type varchar(30),
@Value nvarchar(200),
@CreateTime DATETIME,
@LevelCode VARCHAR(50),
@Status INT
AS
DECLARE @code VARCHAR(50)
IF EXISTS (SELECT 1 FROM dbo.Menu WHERE ParentId=@ParentId)
SELECT @code=CAST(MAX(LevelCode) AS INT)+1 FROM dbo.Menu WHERE ParentId=@ParentId;
ELSE
SELECT @code= LevelCode+N'100' FROM dbo.Menu WHERE Id=@ParentId;

insert into [Menu](
ParentId,
Name,
Type,
Value,
CreateTime,
LevelCode,
[Status]
)
values(
@ParentId,
@Name,
@Type,
@Value,
@CreateTime,
@code,
@Status
)
SET @Id=@@IDENTITY






GO
/****** Object:  StoredProcedure [dbo].[Proc_Menu_SelectById]    Script Date: 2017/11/6 18:29:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****查询*****
*****CreateUser:liaoyang*****
*****CreateTime:09  8 2017  5:44PM*****/
create proc [dbo].[Proc_Menu_SelectById]
@Id int
AS
select * FROM [Menu] WHERE Id=@Id






GO
/****** Object:  StoredProcedure [dbo].[Proc_Menu_SelectList]    Script Date: 2017/11/6 18:29:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****查询*****
*****CreateUser:yang.liao*****
*****CreateTime:09 11 2017  3:48PM*****/
CREATE proc [dbo].[Proc_Menu_SelectList]
@whereStr nvarchar(1000)
AS
DECLARE @sql NVARCHAR(2000)
SET @sql=N'SELECT * FROM [Menu] '+ @whereStr
EXEC sp_executesql @sql






GO
/****** Object:  StoredProcedure [dbo].[Proc_Menu_SelectMenuList]    Script Date: 2017/11/6 18:29:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Proc_Menu_SelectMenuList]
AS
with temp(ID,ParentId,Name,[Type],value,CreateTime,LevelCode,[Status])
as
(
--初始查询
select ID,ParentId,Name,[Type],value,CreateTime,LevelCode,[Status] FROM dbo.Menu
where ParentId = 0    
union all
--递归条件
select a.ID,a.ParentId, a.Name,a.[Type],a.value,a.CreateTime,a.LevelCode,a.[Status]
from dbo.Menu a 
inner join
temp b
on ( a.ParentId=b.id)
)
select ID,ParentId,(replicate('&nbsp;',((LEN(LevelCode)/3)-2)*10)+Name)  as Name,[Type],value,CreateTime,LevelCode,[Status] from temp WHERE temp.ParentId>0 ORDER BY LevelCode

 


GO
/****** Object:  StoredProcedure [dbo].[Proc_Menu_SelectPage]    Script Date: 2017/11/6 18:29:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****查询*****
*****CreateUser:liaoyang*****
*****CreateTime:09  8 2017  5:44PM*****/
create proc [dbo].[Proc_Menu_SelectPage]
@rowCount INT OUTPUT,
@cloumns VARCHAR(200),
@pageIndex INT,
@pageSize INT,
@orderBy VARCHAR(20),
@where VARCHAR(300)
AS
exec Proc_SelectPageBase @rowCount output,@cloumns,'Id','Menu',@pageIndex,@pageSize,@orderBy,@where



GO
/****** Object:  StoredProcedure [dbo].[Proc_Menu_UpdateById]    Script Date: 2017/11/6 18:29:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****修改*****
*****CreateUser:liaoyang*****
*****CreateTime:09  8 2017  5:44PM*****/
CREATE proc [dbo].[Proc_Menu_UpdateById]
@Id int,
@ParentId int,
@Name nvarchar(14),
@Type varchar(30),
@Value nvarchar(200),
@CreateTime DateTime,
@LevelCode VARCHAR(50),
@Status INT
AS
update [Menu] SET 
ParentId=@ParentId,
[Name]=@Name,
[Type]=@Type,
[Value]=@Value,
CreateTime=@CreateTime,
LevelCode=@LevelCode,
[Status]=@Status
 where Id=@Id






GO
/****** Object:  StoredProcedure [dbo].[Proc_MenuType_DeleteById]    Script Date: 2017/11/6 18:29:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****删除*****
*****CreateUser:liaoyang*****
*****CreateTime:09  8 2017  5:44PM*****/
create proc [dbo].[Proc_MenuType_DeleteById]
@Id int
AS
delete from [MenuType] where Id=@Id






GO
/****** Object:  StoredProcedure [dbo].[Proc_MenuType_Insert]    Script Date: 2017/11/6 18:29:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****插入*****
*****CreateUser:liaoyang*****
*****CreateTime:09  8 2017  5:44PM*****/
create proc [dbo].[Proc_MenuType_Insert]
@Id int output,
@Type varchar(30),
@Intro nvarchar(30)
AS
insert into [MenuType](
Type,
Intro
)
values(
@Type,
@Intro
)
SET @Id=@@IDENTITY






GO
/****** Object:  StoredProcedure [dbo].[Proc_MenuType_SelectById]    Script Date: 2017/11/6 18:29:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****查询*****
*****CreateUser:liaoyang*****
*****CreateTime:09  8 2017  5:44PM*****/
create proc [dbo].[Proc_MenuType_SelectById]
@Id int
AS
select * FROM [MenuType] WHERE Id=@Id






GO
/****** Object:  StoredProcedure [dbo].[Proc_MenuType_SelectList]    Script Date: 2017/11/6 18:29:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****查询*****
*****CreateUser:yang.liao*****
*****CreateTime:09 11 2017  3:48PM*****/
CREATE proc [dbo].[Proc_MenuType_SelectList]
@whereStr nvarchar(1000)
AS
DECLARE @sql NVARCHAR(2000)
SET @sql=N'SELECT * FROM [MenuType] '+ @whereStr
EXEC sp_executesql @sql






GO
/****** Object:  StoredProcedure [dbo].[Proc_MenuType_SelectPage]    Script Date: 2017/11/6 18:29:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****查询*****
*****CreateUser:liaoyang*****
*****CreateTime:09  8 2017  5:44PM*****/
create proc [dbo].[Proc_MenuType_SelectPage]
@rowCount INT OUTPUT,
@cloumns VARCHAR(200),
@pageIndex INT,
@pageSize INT,
@orderBy VARCHAR(20),
@where VARCHAR(300)
AS
exec Proc_SelectPageBase @rowCount output,@cloumns,'Id','MenuType',@pageIndex,@pageSize,@orderBy,@where



GO
/****** Object:  StoredProcedure [dbo].[Proc_MenuType_UpdateById]    Script Date: 2017/11/6 18:29:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****修改*****
*****CreateUser:liaoyang*****
*****CreateTime:09  8 2017  5:44PM*****/
create proc [dbo].[Proc_MenuType_UpdateById]
@Id int,
@Type varchar(30),
@Intro nvarchar(30)
AS
update [MenuType] SET 
Type=@Type,
Intro=@Intro
 where Id=@Id






GO
/****** Object:  StoredProcedure [dbo].[Proc_SelectPageBase]    Script Date: 2017/11/6 18:29:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[Proc_SelectPageBase]
	@rowCount INT OUTPUT,
	@columns VARCHAR(200),
	@Identity VARCHAR(20),
	@tableName VARCHAR(50),
	@pageIndex INT,
	@pageSize INT,
	@orderBy VARCHAR(20),
	@where VARCHAR(300)
AS
	DECLARE @sql NVARCHAR(2000),@sort NVARCHAR(50)
	SET @sort=@orderBy
	IF(@orderBy='')
	BEGIN
	SET @sort=@Identity
	END
	
	SET @sql=N'SELECT * FROM(
	SELECT ROW_NUMBER()OVER (ORDER BY '+@sort+')AS num,'+@columns+' FROM ['+@tableName+'] as t1 '+@where+')AS t
	WHERE num > '+CAST((@pageIndex-1)*@pageSize AS VARCHAR(5))+' AND num <= '+CAST(@pageIndex*@pageSize AS VARCHAR(5))
	+';
	SELECT @rowCount1= COUNT(1) FROM ['+@tableName+'] as t1 '+@where
	PRINT @sql
	EXEC sp_executesql @sql,N'@rowCount1 int output',@rowCount1=@rowCount OUTPUT






GO
/****** Object:  StoredProcedure [dbo].[Proc_SystemUser_DeleteById]    Script Date: 2017/11/6 18:29:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****删除*****
*****CreateUser:liaoyang*****
*****CreateTime:09  8 2017  5:44PM*****/
create proc [dbo].[Proc_SystemUser_DeleteById]
@Id int
AS
delete from [SystemUser] where Id=@Id






GO
/****** Object:  StoredProcedure [dbo].[Proc_SystemUser_Insert]    Script Date: 2017/11/6 18:29:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****插入*****
*****CreateUser:liaoyang*****
*****CreateTime:09  8 2017  5:44PM*****/
create proc [dbo].[Proc_SystemUser_Insert]
@Id int output,
@AppId varchar(128),
@Account varchar(30),
@Password varchar(32),
@CreateTime DateTime,
@CreateUserName nvarchar(30),
@AccountState int
AS
insert into [SystemUser](
AppId,
Account,
Password,
CreateTime,
CreateUserName,
AccountState
)
values(
@AppId,
@Account,
@Password,
@CreateTime,
@CreateUserName,
@AccountState
)
SET @Id=@@IDENTITY






GO
/****** Object:  StoredProcedure [dbo].[Proc_SystemUser_SelectById]    Script Date: 2017/11/6 18:29:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****查询*****
*****CreateUser:liaoyang*****
*****CreateTime:09  8 2017  5:44PM*****/
create proc [dbo].[Proc_SystemUser_SelectById]
@Id int
AS
select * FROM [SystemUser] WHERE Id=@Id






GO
/****** Object:  StoredProcedure [dbo].[Proc_SystemUser_SelectList]    Script Date: 2017/11/6 18:29:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Proc_SystemUser_SelectList]
@whereStr nvarchar(1000)
AS
DECLARE @sql NVARCHAR(2000)
SET @sql=N'SELECT * FROM [SystemUser] '+ @whereStr
EXEC sp_executesql @sql
GO
/****** Object:  StoredProcedure [dbo].[Proc_SystemUser_SelectPage]    Script Date: 2017/11/6 18:29:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****查询*****
*****CreateUser:liaoyang*****
*****CreateTime:09  8 2017  5:44PM*****/
create proc [dbo].[Proc_SystemUser_SelectPage]
@rowCount INT OUTPUT,
@cloumns VARCHAR(200),
@pageIndex INT,
@pageSize INT,
@orderBy VARCHAR(20),
@where VARCHAR(300)
AS
exec Proc_SelectPageBase @rowCount output,@cloumns,'Id','SystemUser',@pageIndex,@pageSize,@orderBy,@where



GO
/****** Object:  StoredProcedure [dbo].[Proc_SystemUser_UpdateById]    Script Date: 2017/11/6 18:29:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****修改*****
*****CreateUser:liaoyang*****
*****CreateTime:09  8 2017  5:44PM*****/
create proc [dbo].[Proc_SystemUser_UpdateById]
@Id int,
@AppId varchar(128),
@Account varchar(30),
@Password varchar(32),
@CreateTime DateTime,
@CreateUserName nvarchar(30),
@AccountState int
AS
update [SystemUser] SET 
AppId=@AppId,
Account=@Account,
Password=@Password,
CreateTime=@CreateTime,
CreateUserName=@CreateUserName,
AccountState=@AccountState
 where Id=@Id






GO
/****** Object:  StoredProcedure [dbo].[Proc_User_DeleteById]    Script Date: 2017/11/6 18:29:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****删除*****
*****CreateUser:liaoyang*****
*****CreateTime:09  8 2017  5:44PM*****/
create proc [dbo].[Proc_User_DeleteById]
@Id int
AS
delete from [User] where Id=@Id






GO
/****** Object:  StoredProcedure [dbo].[Proc_User_Insert]    Script Date: 2017/11/6 18:29:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****插入*****
*****CreateUser:liaoyang*****
*****CreateTime:09  8 2017  5:44PM*****/
CREATE PROC [dbo].[Proc_User_Insert]
    @Id INT OUTPUT,
    @OpenID VARCHAR(128),
    @NickName NVARCHAR(50),
    @HeadImg VARCHAR(200),
    @Sex INT,
    @Country NVARCHAR(50),
    @Province NVARCHAR(50),
    @City NVARCHAR(50),
    @Language NVARCHAR(50),
    @Subscribe_Time DATETIME,
    @Unionid VARCHAR(128),
	@IsSubscribe BIT,
	@UnSubscribe_Time DATETIME
AS
    IF EXISTS (SELECT 1 FROM dbo.[User] WHERE OpenID = @OpenID)
    BEGIN
        UPDATE dbo.[User]
        SET -- varchar(128)
            NickName = @NickName,             -- nvarchar(50)
            HeadImg = @HeadImg,               -- varchar(200)
            Sex = @Sex,                       -- int
            Country = @Country,               -- nvarchar(50)
            Province = @Province,             -- nvarchar(50)
            City = @City,                     -- nvarchar(50)
            [Language] = @Language,             -- nvarchar(50)
            Subscribe_Time = @Subscribe_time, -- datetime
            Unionid = @Unionid,               -- varchar(128)
            IsSubscribe = @IsSubscribe,               -- varchar(128)
            UnSubscribe_Time = @UnSubscribe_Time               -- varchar(128)
        WHERE OpenID = @OpenID;
        SET @Id = 1;
    END;
    ELSE
    BEGIN
        INSERT INTO [User]
        (
            OpenID,
            NickName,
            HeadImg,
            Sex,
            Country,
            Province,
            City,
            [Language],
            Subscribe_time,
            Unionid,
			IsSubscribe,
			UnSubscribe_Time
        )
        VALUES
        (@OpenID,
            @NickName,
            @HeadImg,
            @Sex,
            @Country,
            @Province,
            @City,
            @Language,
            @Subscribe_time,
            @Unionid,
			@IsSubscribe,
			@UnSubscribe_Time
        );
        SET @Id = @@IDENTITY;
    END;





GO
/****** Object:  StoredProcedure [dbo].[Proc_User_SelectById]    Script Date: 2017/11/6 18:29:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****查询*****
*****CreateUser:liaoyang*****
*****CreateTime:09  8 2017  5:44PM*****/
create proc [dbo].[Proc_User_SelectById]
@Id int
AS
select * FROM [User] WHERE Id=@Id






GO
/****** Object:  StoredProcedure [dbo].[Proc_User_SelectList]    Script Date: 2017/11/6 18:29:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****查询*****
*****CreateUser:yang.liao*****
*****CreateTime:09 11 2017  3:48PM*****/
CREATE proc [dbo].[Proc_User_SelectList]
@whereStr nvarchar(1000)
AS
DECLARE @sql NVARCHAR(2000)
SET @sql=N'SELECT * FROM [User] '+ @whereStr
EXEC sp_executesql @sql






GO
/****** Object:  StoredProcedure [dbo].[Proc_User_SelectPage]    Script Date: 2017/11/6 18:29:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****查询*****
*****CreateUser:liaoyang*****
*****CreateTime:09  8 2017  5:44PM*****/
create proc [dbo].[Proc_User_SelectPage]
@rowCount INT OUTPUT,
@cloumns VARCHAR(200),
@pageIndex INT,
@pageSize INT,
@orderBy VARCHAR(20),
@where VARCHAR(300)
AS
exec Proc_SelectPageBase @rowCount output,@cloumns,'Id','User',@pageIndex,@pageSize,@orderBy,@where



GO
/****** Object:  StoredProcedure [dbo].[Proc_User_UpdateById]    Script Date: 2017/11/6 18:29:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****修改*****
*****CreateUser:liaoyang*****
*****CreateTime:09  8 2017  5:44PM*****/
CREATE proc [dbo].[Proc_User_UpdateById]
@Id int,
@OpenID varchar(128),
@NickName nvarchar(50),
@HeadImg varchar(200),
@Sex INT,
@Country nvarchar(50),
@Province nvarchar(50),
@City nvarchar(50),
@Language nvarchar(50),
@Subscribe_time DateTime,
@Unionid varchar(128),
@IsSubscribe BIT,
@UnSubscribe_Time DATETIME
AS
update [User] SET 
OpenID=@OpenID,
NickName=@NickName,
HeadImg=@HeadImg,
Sex=@Sex,
Country=@Country,
Province=@Province,
City=@City,
[Language]=@Language,
Subscribe_time=@Subscribe_time,
Unionid=@Unionid,
IsSubscribe=@IsSubscribe,
UnSubscribe_Time=@UnSubscribe_Time
 where Id=@Id






GO
/****** Object:  StoredProcedure [dbo].[Proc_UserMessage_DeleteById]    Script Date: 2017/11/6 18:29:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****删除*****
*****CreateUser:yang.liao*****
*****CreateTime:10 20 2017  3:39PM*****/
create proc [dbo].[Proc_UserMessage_DeleteById]
@Id int
AS
delete from [UserMessage] where Id=@Id





GO
/****** Object:  StoredProcedure [dbo].[Proc_UserMessage_Insert]    Script Date: 2017/11/6 18:29:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****插入*****
*****CreateUser:yang.liao*****
*****CreateTime:10 20 2017  3:39PM*****/
CREATE proc [dbo].[Proc_UserMessage_Insert]
@Id int output,
@MessageType varchar(50),
@OpenID varchar(512),
@XmlContent nvarchar(1000),
@MsgId varchar(20),
@CreateTime DATETIME,
@ContentValue NVARCHAR(500)
AS
insert into [UserMessage](
MessageType,
OpenID,
XmlContent,
MsgId,
CreateTime,
ContentValue
)
values(
@MessageType,
@OpenID,
@XmlContent,
@MsgId,
@CreateTime,
@ContentValue
)
SET @Id=@@IDENTITY





GO
/****** Object:  StoredProcedure [dbo].[Proc_UserMessage_SelectById]    Script Date: 2017/11/6 18:29:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****查询*****
*****CreateUser:yang.liao*****
*****CreateTime:10 20 2017  3:39PM*****/
create proc [dbo].[Proc_UserMessage_SelectById]
@Id int
AS
select * FROM [UserMessage] WHERE Id=@Id





GO
/****** Object:  StoredProcedure [dbo].[Proc_UserMessage_SelectList]    Script Date: 2017/11/6 18:29:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****查询*****
*****CreateUser:yang.liao*****
*****CreateTime:10 20 2017  3:39PM*****/
CREATE proc [dbo].[Proc_UserMessage_SelectList]
@whereStr nvarchar(1000)
AS
DECLARE @sql NVARCHAR(2000)
SET @sql=N'SELECT * FROM [UserMessage] '+ @whereStr
EXEC sp_executesql @sql





GO
/****** Object:  StoredProcedure [dbo].[Proc_UserMessage_SelectPage]    Script Date: 2017/11/6 18:29:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****查询*****
*****CreateUser:yang.liao*****
*****CreateTime:10 20 2017  3:39PM*****/
create proc [dbo].[Proc_UserMessage_SelectPage]
@rowCount INT OUTPUT,
@cloumns VARCHAR(200),
@pageIndex INT,
@pageSize INT,
@orderBy VARCHAR(20),
@where VARCHAR(300)
AS
exec Proc_SelectPageBase @rowCount output,@cloumns,'Id','UserMessage',@pageIndex,@pageSize,@orderBy,@where


GO
/****** Object:  StoredProcedure [dbo].[Proc_UserMessage_UpdateById]    Script Date: 2017/11/6 18:29:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****修改*****
*****CreateUser:yang.liao*****
*****CreateTime:10 20 2017  3:39PM*****/
CREATE proc [dbo].[Proc_UserMessage_UpdateById]
@Id int,
@MessageType varchar(50),
@OpenID varchar(512),
@XmlContent nvarchar(1000),
@MsgId varchar(20),
@CreateTime DATETIME,
@ContentValue NVARCHAR(500)
AS
update [UserMessage] SET 
MessageType=@MessageType,
OpenID=@OpenID,
XmlContent=@XmlContent,
MsgId=@MsgId,
CreateTime=@CreateTime,
ContentValue=@ContentValue
 where Id=@Id





GO
/****** Object:  StoredProcedure [dbo].[Tool_CreateDALByMSEnterlibry]    Script Date: 2017/11/6 18:29:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[Tool_CreateDALByMSEnterlibry]
	@procname varchar(100),
	@returnType VARCHAR(50),
	@inputType VARCHAR(50)
AS
IF NOT EXISTS(SELECT * FROM sys.procedures WHERE name=@procname)
BEGIN
PRINT 'Not Find This Procdurece'
RETURN
END

DECLARE @name VARCHAR(30),@userType INT,@isOutPut BIT,@hasOutPut BIT,@outputArgu VARCHAR(30)
DECLARE columnCursor SCROLL CURSOR FOR
SELECT name,user_type_id,is_output FROM sys.parameters WHERE object_id=OBJECT_ID(@procname)



OPEN columnCursor

PRINT N'#region '+@procname
IF((CHARINDEX('selectPage',@procname)!=0))
	BEGIN
		PRINT N'public '+@returnType+' '+SUBSTRING(@procname,CHARINDEX('_',@procname)+1,LEN(@procname)-4)+'(string cloumns,int pageIndex,int pageSize,string orderBy,string where,out int rowCount)'
	END
ELSE
	BEGIN
		PRINT N'public '+@returnType+' '+SUBSTRING(@procname,CHARINDEX('_',@procname)+1,LEN(@procname)-4)+'('+@inputType+' obj)'
	END

PRINT N'{
		DbCommand dbCmd = db.GetStoredProcCommand("'+@procname+'");'
			
FETCH NEXT FROM columnCursor INTO @name,@userType,@isOutPut
DECLARE @csharpType VARCHAR(20)

WHILE @@FETCH_STATUS=0
BEGIN
	IF(@userType IN (56))
	SET @csharpType='Int32'
	ELSE IF(@userType IN (61,167,175,231))
	SET @csharpType='String'
	ELSE IF(@userType IN (60))
	SET @csharpType='Decimal'
	ELSE IF(@userType IN (62))
	SET @csharpType='Single'
	ELSE
	SET @csharpType='String'
IF(@isOutPut=1)
	BEGIN
	SET @hasOutPut=1
	SET @outputArgu=@name
	PRINT N'		db.AddOutParameter(dbCmd, "'+@name+'", DbType.'+@csharpType+',4);'
	END
ELSE
	BEGIN
	IF(CHARINDEX('selectPage',@procname)!=0)
	BEGIN
		PRINT N'		db.AddInParameter(dbCmd, "'+@name+'", DbType.'+@csharpType+','+SUBSTRING(@name,2,LEN(@name)-1)+');'
	END
	else
	PRINT N'		db.AddInParameter(dbCmd, "'+@name+'", DbType.'+@csharpType+', obj.'+SUBSTRING(@name,2,LEN(@name)-1)+');'
	
	END

FETCH NEXT FROM columnCursor INTO @name,@userType,@isOutPut
END
DECLARE @modelType VARCHAR(30)
IF(LOWER(@returnType)='int' OR @returnType='')
BEGIN

PRINT N'		try
			{ 
				int returnValue = db.ExecuteNonQuery(dbCmd);'
	IF(@hasOutPut=1)
	BEGIN
		PRINT N'			int '+SUBSTRING(@outputArgu,2,LEN(@outputArgu)-1)+' = (int)dbCmd.Parameters["'+@outputArgu+'"].Value;'
	END
PRINT N'		return returnValue;
			}
			 catch(Exception e)
			{
				throw new Exception(e.Message);
			}'
END
ELSE IF(CHARINDEX('list',@returnType)!=0)
BEGIN
	SET @modelType=SUBSTRING(@procname,CHARINDEX('_',@procname)+1,CHARINDEX('_',@procname,6)-CHARINDEX('_',@procname)-1)
PRINT N'		'+@returnType+' list=new '+@returnType+'();
			try
            {
               using( IDataReader reader = db.ExecuteReader(dbCmd))
               {
					while (reader.Read())
					{
						'+@modelType+' obj=new '+@modelType+'();
						//属性赋值
	                    
						list.Add(obj);
					}'
		IF(CHARINDEX('selectPage',@procname)!=0)
		BEGIN
			PRINT N'					reader.NextResult();
				}'
			PRINT N'			'+SUBSTRING(@outputArgu,2,LEN(@outputArgu)-1)+' = (int)dbCmd.Parameters["'+@outputArgu+'"].Value;'
		END
PRINT'			return list;
            }
            catch (Exception e)
            {
                throw new Exception(e.Message);
            }'
END
ELSE
BEGIN
	
	SET @modelType=SUBSTRING(@procname,CHARINDEX('_',@procname)+1,CHARINDEX('_',@procname,6)-1-CHARINDEX('_',@procname))
	PRINT N'		'+@modelType+' obj=null;
			try
            {
               using(IDataReader reader = db.ExecuteReader(dbCmd))
               {
					while (reader.Read())
					{
						obj=new '+@modelType+'();
						//属性赋值
	                    
					}
                }'
		IF(CHARINDEX('selectPage',@procname)!=0)
		PRINT N'			'+SUBSTRING(@outputArgu,2,LEN(@outputArgu)-1)+' = (int)dbCmd.Parameters["'+@outputArgu+'"].Value;'
PRINT'			return obj;
            }
            catch (Exception e)
            {
                throw new Exception(e.Message);
            }'
END
PRINT N'}
	#endregion
'

CLOSE columnCursor
DEALLOCATE columnCursor





GO
/****** Object:  StoredProcedure [dbo].[Tool_CreateModel]    Script Date: 2017/11/6 18:29:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Tool_CreateModel]
	@tableName VARCHAR(50)
AS
--用来在游标中储值
DECLARE @modelName VARCHAR(50),@type VARCHAR(5)
--用来存储类型
DECLARE @fieldType VARCHAR(20)
-----------------------------查询表的所有字段
IF NOT EXISTS(SELECT * FROM sys.tables WHERE name=@tableName)
BEGIN
PRINT 'Not Find This Table'
RETURN
END


--定义游标 for 结果集
DECLARE modelCursor CURSOR FOR
(SELECT name,xtype FROM  syscolumns WHERE id=OBJECT_ID(@tableName))
--打开游标
OPEN modelCursor
--移动游标到下一个
FETCH NEXT FROM modelCursor INTO @modelName,@type
--循环取出游标的值

---打印Model类
	PRINT 'public class '+@tableName
	PRINT '{'
WHILE @@FETCH_STATUS=0
BEGIN
	IF(@type IN ('167','175','231','239'))
	BEGIN
		SET @fieldType='string'
	END
	ELSE IF(@type IN ('56'))
	BEGIN
		SET @fieldType='int'
	END
	ELSE IF(@type IN ('61'))
	BEGIN
		SET @fieldType='DateTime'
	END
	ELSE IF(@type IN ('106'))
	BEGIN
		SET @fieldType='decimal'
	END
	--打印属性
	PRINT ''
	PRINT '#region '+@modelName
	PRINT 'private '+@fieldType+' _'+@modelName+';'
    PRINT 'public '+@fieldType+' '+@modelName
    PRINT '{'
    PRINT ' get {'
    PRINT '     return this._'+@modelName+';'
    PRINT ' }'
    PRINT ' set {'
    PRINT '     this._'+@modelName+' = value;'
    PRINT ' }'
    PRINT '}'
	PRINT '#endregion'
	--移动游标
	FETCH NEXT FROM modelCursor INTO @modelName,@type
END
PRINT '}'
---关闭游标
CLOSE modelCursor
---释放游标
DEALLOCATE modelCursor





GO
/****** Object:  StoredProcedure [dbo].[Tool_CreateProc]    Script Date: 2017/11/6 18:29:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[Tool_CreateProc]
	@tableName VARCHAR(50),
	@createUser NVARCHAR(50)=''
AS
DECLARE @name VARCHAR(20),@userType VARCHAR(5),@isIdentity BIT,@maxLength INT

IF NOT EXISTS(SELECT * FROM sys.tables WHERE name=@tableName)
BEGIN
PRINT 'Not Find This Table'
RETURN
END


DECLARE columnsCursor SCROLL CURSOR FOR
--查询表有哪些列
SELECT name,user_type_id,is_identity,max_length FROM sys.columns WHERE object_id=OBJECT_ID(@tableName)

--打开游标
OPEN columnsCursor
--移动游标
FETCH NEXT FROM columnsCursor INTO @name,@userType,@isIdentity,@maxLength

----------------------------插入----------------------------------
PRINT N'
GO'
	PRINT N'if exists (select * from sysobjects where name=''Proc_'+@tableName+'_Insert'')
	begin
	print ''has exists this name Proc,please ensure''
	return
	end
GO
/*****插入*****
*****CreateUser:'+@createUser+'*****'+'
*****CreateTime:'+CAST(GETDATE()AS VARCHAR(30))+'*****/
create proc Proc_'+@tableName+'_Insert'
DECLARE @columnType NVARCHAR(30),@argus VARCHAR(100),@outPutArgument VARCHAR(30)

WHILE @@FETCH_STATUS=0
BEGIN
		--调用函数，得到数据类型
		SET @columnType=dbo.f_GetCSharpDataTypeBySqlUserType(@userType,@maxLength)
		IF(@isIdentity=1)
		BEGIN
		SET @argus= '@'+@name+' '+@columnType+' output'
		SET @outPutArgument=@name
		END
		ELSE
		SET @argus= '@'+@name+' '+@columnType
--移动游标,判断是否还有下一条
FETCH NEXT FROM columnsCursor INTO @name,@userType,@isIdentity,@maxLength
	IF(@@FETCH_STATUS=0)
	BEGIN
	PRINT @argus+','
	END
	ELSE
	BEGIN
	PRINT @argus
	END
END

-------------------------
PRINT 'AS'
PRINT 'insert into ['+@tableName+']('


--移动游标,判断是否还有下一条
FETCH FIRST FROM columnsCursor INTO @name,@userType,@isIdentity,@maxLength

WHILE @@FETCH_STATUS=0
BEGIN
	--调用函数，得到数据类型
	SET @columnType=dbo.f_GetCSharpDataTypeBySqlUserType(@userType,@maxLength)
	IF(@isIdentity=1)
	BEGIN
		--移动游标,判断是否还有下一条
		FETCH RELATIVE 1 FROM columnsCursor INTO @name,@userType,@isIdentity,@maxLength
		CONTINUE
	END
	ELSE
	BEGIN
		SET @argus=@name
	END
--移动游标,判断是否还有下一条
	FETCH RELATIVE 1 FROM columnsCursor INTO @name,@userType,@isIdentity,@maxLength
	IF(@@FETCH_STATUS=0)
	BEGIN
	PRINT @argus+','
	END
	ELSE
	BEGIN
	PRINT @argus
	END
	
END



PRINT ')
values('

--移动游标到第一条
FETCH FIRST FROM columnsCursor INTO @name,@userType,@isIdentity,@maxLength

WHILE @@FETCH_STATUS=0
BEGIN
	IF(@isIdentity=1)
	BEGIN
		--移动游标,判断是否还有下一条
		FETCH RELATIVE 1 FROM columnsCursor INTO @name,@userType,@isIdentity,@maxLength
		CONTINUE
	END
	ELSE
	BEGIN
		SET @argus='@'+@name
	END
--移动游标,判断是否还有下一条
	FETCH RELATIVE 1 FROM columnsCursor INTO @name,@userType,@isIdentity,@maxLength
	IF(@@FETCH_STATUS=0)
	BEGIN
	PRINT @argus+','
	END
	ELSE
	BEGIN
	PRINT @argus
	END
END
PRINT ')'
PRINT 'SET @'+@outPutArgument+'=@@IDENTITY'

-----------------------删除------------------------------
PRINT N'


GO'
	PRINT N'if exists (select * from sysobjects where name=''Proc_'+@tableName+'_DeleteBy'+@outPutArgument+''')
	begin
	print ''has exists this name Proc,please ensure''
	return
	end
GO
/*****删除*****
*****CreateUser:'+@createUser+'*****'+'
*****CreateTime:'+CAST(GETDATE()AS VARCHAR(30))+'*****/
create proc Proc_'+@tableName+'_DeleteBy'+@outPutArgument
PRINT '@'+@outPutArgument+' int
AS
'
PRINT 'delete from ['+@tableName+'] where '+@outPutArgument+'='+'@'+@outPutArgument

-----------------------修改------------------------------
PRINT N'


GO'
PRINT N'if exists (select * from sysobjects where name=''Proc_'+@tableName+'_UpdateBy'+@outPutArgument+''')
	begin
	print ''has exists this name Proc,please ensure''
	return
	end
GO
/*****修改*****
*****CreateUser:'+@createUser+'*****'+'
*****CreateTime:'+CAST(GETDATE()AS VARCHAR(30))+'*****/
create proc Proc_'+@tableName+'_UpdateBy'+@outPutArgument

--移动游标到第一条
FETCH FIRST FROM columnsCursor INTO @name,@userType,@isIdentity,@maxLength

WHILE @@FETCH_STATUS=0
BEGIN
		--调用函数，得到数据类型
		SET @columnType=dbo.f_GetCSharpDataTypeBySqlUserType(@userType,@maxLength)
		--IF(@isIdentity=1)
		--BEGIN
		----SET @argus=''
		--SET @outPutArgument=@name
		----移动游标,判断是否还有下一条
		--FETCH RELATIVE 1 FROM columnsCursor INTO @name,@userType,@isIdentity,@maxLength
		--CONTINUE
		--END
		--ELSE
		SET @argus= '@'+@name+' '+@columnType
--移动游标,判断是否还有下一条
FETCH RELATIVE 1 FROM columnsCursor INTO @name,@userType,@isIdentity,@maxLength
	IF(@@FETCH_STATUS=0)
	BEGIN
	PRINT @argus+','
	END
	ELSE
	BEGIN
	PRINT @argus
	END
END
PRINT 'AS'
PRINT 'update ['+@tableName+'] SET '

--移动游标到第一条
FETCH FIRST FROM columnsCursor INTO @name,@userType,@isIdentity,@maxLength
DECLARE @VALUES VARCHAR(50)
WHILE @@FETCH_STATUS=0
BEGIN
		IF(@isIdentity=1)
		BEGIN
		--移动游标,判断是否还有下一条
		FETCH RELATIVE 1 FROM columnsCursor INTO @name,@userType,@isIdentity,@maxLength
		CONTINUE
		END
		ELSE
		SET @VALUES= @name+'='+'@'+@name
--移动游标,判断是否还有下一条
FETCH RELATIVE 1 FROM columnsCursor INTO @name,@userType,@isIdentity,@maxLength
	IF(@@FETCH_STATUS=0)
	BEGIN
	PRINT @VALUES+','
	END
	ELSE
	BEGIN
	PRINT @VALUES
	END
END
PRINT ' where '+@outPutArgument+'='+'@'+@outPutArgument



-----------------------查询------------------------------
PRINT N'


GO'
	PRINT N'if exists (select * from sysobjects where name=''Proc_'+@tableName+'_SelectBy'+@outPutArgument+''')
	begin
	print ''has exists this name Proc,please ensure''
	return
	end
GO
/*****查询*****
*****CreateUser:'+@createUser+'*****'+'
*****CreateTime:'+CAST(GETDATE()AS VARCHAR(30))+'*****/
create proc Proc_'+@tableName+'_SelectBy'+@outPutArgument
PRINT '@'+@outPutArgument+' int'
PRINT 'AS
select * FROM ['+@tableName+'] WHERE '+@outPutArgument+'='+'@'+@outPutArgument


----------------------- where查询---------------------------------------


PRINT N'


GO'
	PRINT N'if exists (select * from sysobjects where name=''Proc_'+@tableName+'_SelectList'')
	begin
	print ''has exists this name Proc,please ensure''
	return
	end
GO
/*****查询*****
*****CreateUser:'+@createUser+'*****'+'
*****CreateTime:'+CAST(GETDATE()AS VARCHAR(30))+'*****/
create proc Proc_'+@tableName+'_SelectList'
PRINT '@whereStr nvarchar(1000)'
PRINT 'AS
DECLARE @sql NVARCHAR(2000)
SET @sql=N''SELECT * FROM ['+@tableName+'] WHERE 1=1 ''+ @whereStr
EXEC sp_executesql @sql'




-----------------------分页查询------------------------------
PRINT N'


GO'
PRINT N'if exists (select * from sysobjects where name=''Proc_'+@tableName+'_SelectPage'+''')
	begin
	print ''has exists this name Proc,please ensure''
	return
	end
GO
/*****查询*****
*****CreateUser:'+@createUser+'*****'+'
*****CreateTime:'+CAST(GETDATE()AS VARCHAR(30))+'*****/
create proc Proc_'+@tableName+'_SelectPage'
PRINT '@rowCount INT OUTPUT,
@cloumns VARCHAR(200),
@pageIndex INT,
@pageSize INT,
@orderBy VARCHAR(20),
@where VARCHAR(300)
AS
'
PRINT 'exec Proc_SelectPageBase @rowCount output,@cloumns,'''+@outPutArgument+''','''+@tableName+''',@pageIndex,@pageSize,@orderBy,@where'




--关闭游标
CLOSE columnsCursor
--释放游标
DEALLOCATE columnsCursor


--EXEC Tool_CreateProc 'User'





GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'缩略图素材ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Article', @level2type=N'COLUMN',@level2name=N'MediaId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'https请求方式: GET
   https://api.weixin.qq.com/cgi-bin/token?grant_type=client_credential&appid=APPID&secret=APPSECRET
   
   正常情况下，微信会返回下述JSON数据包给公众号：
   {"access_token":"ACCESS_TOKEN","expires_in":7200}
   
   错误时微信会返回错误码等信息
   {"errcode":40013,"errmsg":"invalid appid"}' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GloblaToken'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'图片、语音、视屏、缩略图' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Material', @level2type=N'COLUMN',@level2name=N'MaterialType'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0 正常 1 不可用' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SystemUser', @level2type=N'COLUMN',@level2name=N'AccountState'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'值为1时是男性，值为2时是女性，值为0时是未知' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'User', @level2type=N'COLUMN',@level2name=N'Sex'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'整个请求内容' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'UserMessage', @level2type=N'COLUMN',@level2name=N'XmlContent'
GO
USE [master]
GO
