
@{
    ViewBag.Title = "系统初始化";
    Layout = "~/Views/Shared/_Layout_Login.cshtml";
}
@section css{
    <link href="~/Content/bootstrapValidator.min.css" rel="stylesheet" />

}

@section scripts{
    <script src="~/Scripts/bootstrapValidator.min.js"></script>
    <!--mvc自带验证-->
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

    <script>
        $(function () {
            //设置校验规则
            $('form').bootstrapValidator({
                message: 'This value is not valid',
                feedbackIcons: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                fields: {
                    username: {
                        message: '用户名验证失败',
                        validators: {
                            notEmpty: {
                                message: '用户名不能为空'
                            }
                        }
                    },
                    pwd: {
                        validators: {
                            notEmpty: {
                                message: '密码不能为空'
                            }
                        }
                    }
                }
            });

        });
    </script>

}


<div class="row">
    <div class="col-md-12">
        <!-- Widget starts -->
        <div class="widget worange">
            <!-- Widget head -->
            <div class="widget-head">
                <i class="icon-lock"></i>激活系统
            </div>

            <div class="widget-content">
                <div class="padd">
                    <!-- Login form -->
                    <form id="forms_login" class="form-horizontal" action="/home/Init" method="post">
                        <!-- Email -->
                        <div class="form-group">
                            <label class="control-label col-lg-3" for="inputAccount">超级账号</label>
                            <div class="col-lg-9">
                                <input type="text" name="username" class="form-control" id="inputAccount" placeholder="账号">
                            </div>
                        </div>
                        <!-- Password -->
                        <div class="form-group">

                            <label class="control-label col-lg-3" for="inputPassword">密码</label>
                            <div class="col-lg-9">
                                <input type="password" name="pwd" class="form-control" id="inputPassword" placeholder="密码">
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.ValidationSummary("", new { @class = "text-danger" })
                        </div>
                        <div class="col-lg-9 col-lg-offset-2">
                            <button type="submit" id="btn_submit" class="btn btn-danger">激活</button>
                            <button type="reset" class="btn btn-default">重置</button>
                        </div>
                        <br>

                    </form>

                </div>
            </div>

            <div class="widget-foot">
                已激活，<a href="/login/index">直接登录</a>
            </div>
        </div>
    </div>
</div>

