@using Site.WeiXin.DataAccess.Model;
@using Site.Untity;
@{
    int total= ViewBag.total;
    int today = ViewBag.todayCount;
}
<!-- 总关注 -->
<div class="hdata">
    <div class="mcol-left">
        <!-- Icon with red background -->
        <i class="icon-signal bred"></i>
    </div>
    <div class="mcol-right">
        <!-- Number of visitors -->
        <p><a href="/Fans/UserList">@total</a><em>总关注</em></p>
    </div>
    <div class="clearfix"></div>
</div>

<!-- 当日关注 -->
<div class="hdata">
    <div class="mcol-left">
        <!-- Icon with blue background -->
        <i class="icon-user bblue"></i>
    </div>
    <div class="mcol-right">
        <!-- Number of visitors -->
        <p><a href="/Fans/UserList">@today</a> <em>日关注</em></p>
    </div>
    <div class="clearfix"></div>
</div>