
@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_Layout_Index.cshtml";
}

<form class="form-horizontal"  enctype="multipart/form-data" method="post" action="https://api.weixin.qq.com/cgi-bin/media/uploadimg?access_token=DvLzBA5_xBAmkJSbPMilp_A_vSSHSCJ-8P8Z6ffbHV-70Z0wkk_K4UFYg_qXPz_I7D75wWYKEp0lKUbEylLtDqpf5mjrFAAG6TLjGi4rNVptQ9ZW-pqzq2TawvtqC1ldDOZhAJAXIT">

    <div class="form-group">
        <label class="control-label col-lg-3" for="Intro">简介</label>
        <div class="col-lg-9">
            <input type="file" class="form-control" name="media123" id="Intro" />
        </div>
        <button type="submit">提交</button>
    </div>


</form>

