
@{
    ViewBag.Title = "Index";
}

<!--下面是用户名输入框-->
<div class="input-group">
    <span class="input-group-addon" id="basic-addon1">@@</span>
    <input id="userName" type="text" class="form-control" placeholder="用户名" aria-describedby="basic-addon1">
</div>
<br>
<!--下面是密码输入框-->
<div class="input-group">
    <span class="input-group-addon" id="basic-addon1">@@</span>
    <input id="passWord" type="text" class="form-control" placeholder="密码" aria-describedby="basic-addon1">
</div>
<br>
<!--下面是登陆按钮,包括颜色控制-->
<button type="button" style="width:280px;" class="btn btn-default">登 录</button>

