
@{
    ViewBag.Title = "微信后台管理系统_登录界面";
    Layout = "~/Views/Shared/_Layout_Index.cshtml";
}

@section css{
    <link href="~/Content/bootstrapValidator.min.css" rel="stylesheet" />

}

@section scripts{
    <script src="~/Scripts/bootstrapValidator.min.js"></script>
    
    <script>
        $(function () {
            //设置校验规则
            $('form').bootstrapValidator({
                message: 'This value is not valid',
                feedbackIcons: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                fields: {
                    username: {
                        message: '用户名验证失败',
                        validators: {
                            notEmpty: {
                                message: '用户名不能为空'
                            }
                        }
                    },
                    passWord: {
                        validators: {
                            notEmpty: {
                                message: '密码不能为空'
                            }
                        }
                    }
                }
            });

            //校验
            $('#btn_submit').click(function () {
                var valiForm = $('#forms_login').data('bootstrapValidator');
                valiForm.validate();
                if (valiForm.isValid()) {
                    $.ShowLoading("登录中...");
                    //验证通过
                    $.ajax({
                        url: "/Login/Do",
                        type: "post",
                        dataType: "json",
                        data: {
                            name: $("#inputAccount").val(),
                            pwd: $("#inputPassword").val()
                        },
                        cache: false,
                        success: function (json) {
                            $.HideLoading();
                            if (json.success) {
                                $.SuccessInfo(json.message.text, 1500);
                                setTimeout(function () {
                                    top.location.href = "/";
                                }, 2000);
                            }
                            else {
                                $.WarningInfo(json.message.text);
                            }
                        },
                        error: function (xhr, state, error) {
                            $.HideLoading();

                            $.ErrorInfo(json.message.text);
                        }
                    });
                }
            });




        });
    </script>

}


<div class="row">
    <div class="col-md-12">
        <!-- Widget starts -->
        <div class="widget worange">
            <!-- Widget head -->
            <div class="widget-head">
                <i class="icon-lock"></i> 登录系统
            </div>

            <div class="widget-content">
                <div class="padd">
                    <!-- Login form -->
                    <form id="forms_login" class="form-horizontal">
                        <!-- Email -->
                        <div class="form-group">
                            <label class="control-label col-lg-3" for="inputAccount">账号</label>
                            <div class="col-lg-9">
                                <input type="text" name="username" class="form-control" id="inputAccount" placeholder="账号">
                            </div>
                        </div>
                        <!-- Password -->
                        <div class="form-group">

                            <label class="control-label col-lg-3" for="inputPassword">密码</label>
                            <div class="col-lg-9">
                                <input type="password" name="passWord" class="form-control" id="inputPassword" placeholder="密码">
                            </div>
                        </div>
                        <!-- Remember me checkbox and sign in button -->
                        <div class="form-group">
                            <div class="col-lg-9 col-lg-offset-3">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox"> 记住登录
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-9 col-lg-offset-2">
                            <button type="button" id="btn_submit" class="btn btn-danger">登录</button>
                            <button type="reset" class="btn btn-default">重置</button>
                        </div>
                        <br>
                    </form>

                </div>
            </div>

            <div class="widget-foot">
                没有账号? <a href="#">联系管理员</a>
            </div>
        </div>
    </div>
</div>
